.banner{
      background-image:
    url('../images/bannerphoto.avif');
    background-size:cover;
     height: 100vh;
       display: flex;              
  justify-content: center;    
  align-items: center;
  position: relative; //anchor point for anything absolutely positioned inside
}
.banner-content{
  color: white;
  text-align: center;
}