.form-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:20px;
}

.name-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding:10px;
    box-sizing:border-box;

    background-color: #e8e3e3;
    border: none;           
}

.form-content{
        display: flex;
    flex-direction: column;
    gap: 5px;
}

button,
.button {
    align-self: flex-start;
}

#contact {
    padding-bottom: 160px;
}

textarea {
    min-height: 180px;
}

@media(min-width:$bp-medium) {

    .form-layout{
        flex-direction:row;
        align-items: flex-start;
    }

    .form-info{
        flex: 2;
    }

        .form-content{              //split form part into description and form input
        flex: 3;
    }

    .name-row{
        flex-direction: row;

    input{
        flex: 1;
        }
    }
}
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid black;
  background-color: white;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.form-info > :first-child {
    margin-top: 0;
}