html {
  scroll-behavior: smooth;  //smmooth movement for the scroll up down buttons
}

body{
            margin: 0;
            font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
margin-right: auto;
margin-left: auto;
padding-right: 15px;
padding-left: 15px;


    @media (min-width: $bp-small){
width: $cont-mobile;

    }

    @media (min-width: $bp-medium){
width: $cont-tablet;

    }

    @media (min-width: $bp-large){
width: $cont-desktop;

    }

    @media (min-width: $bp-xlarge){
width: $cont-wide;

    }
}
.soft-link {
  color: inherit;              
  text-decoration: none;       
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.back-to-top {
  position: absolute;   
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: black;
}
  .scroll-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
  }

  .generic-content {
  display:flex;
  margin-top: 50px;      // space from banner
  margin-left: 30px;     // space from navbar
  margin-right: 30px;
  margin-bottom: 80px;
  flex-direction: column;
  }

  .keyboard-arrow-down{
  width: 16px;
  height: 16px;
  fill: white;
  }

  .keyboard-arrow-up{
  width: 16px;
  height: 16px;
  fill: black;
  }

