.top-nav {
    display:flex;
    flex-direction:column;
    top:0;
    left:0;
    align-items: stretch;
    padding: 0; 
    background: white;
    border-right:4px solid $my-blue;
   

.initals{
    color: $my-blue;
    text-align: center;
    border-bottom: 3px solid $my-blue;

    width: 100%;
    aspect-ratio: 1/1;      //makes initals square            


    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
}

    .top-nav .nav-item{
        display: none;
    }
    
.burger {
  width: 30px;
  height: 22px;
  margin: 15px auto;  // centers it
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 2px;
  background: $my-blue;
  border-radius: 2px;
  transition: all 0.3s ease; //animate every property that changes
}

@media (min-width:$bp-medium){
    body{
        display:flex;
    }
    .top-nav {
        width: 250px;
        height: 100vh;  //exactly the hieght of the viewpoint

        position: sticky; ///sticks within parent stops when parent ends
        top: 0;
    }

        .burger{
            display: none; //hide burger on desktop
        }

        .top-nav .nav-item{
        display:block;
        color:black;
        text-align: center;
        text-decoration: none;
        padding: 15px;
    
        &:hover{
            text-decoration: underline;
            text-decoration-color: $my-blue;
            text-underline-offset: 6px;
            text-decoration-thickness: 2px; 
            }
        }
                .border{
            border-top: 3px solid $my-blue;
            border-bottom: 3px solid $my-blue;
        }
    .page-content{
        flex:1;
    }
}