.projects {
  display:flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 50px;      // space from banner
  margin-left: 30px;     // space from navbar
  margin-right: 30px;
  margin-bottom: 80px; 
}

.project-grid {
position:relative;
overflow:hidden;
cursor: pointer;
transition: 0.3s ease;
flex: 0 0 100%;
}

.project-description, .project-title {
  color: white;
  padding: 0;
  color: #333;
  opacity: 1;
  transition: 0.3s ease;
}

.project-grid:hover img {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  filter: brightness(85%);
}

.project-grid:hover .project-title, .project-grid:hover .project-description {
  opacity: 0.5;
}

.project-grid img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(80%);
}

.project-title {
  margin: 8px 0 0 0;
}

.project-description {
  display: inline-flex;
  align-items: center;
  gap: 6px;   
  margin: 8px 0 0 0;
}

@media (min-width: $bp-medium) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-grid {
    flex: 0 0 calc(33.333% - 14px);
  }
}
.arrow_forward {
  width: 16px;
  height: 16px;
  fill: #333;
  transition: transform 0.3s ease;
}