$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;
$cont-mobile:540px;
$cont-tablet: 720px;
$cont-desktop: 960px;
$cont-wide: 1140px;
$my-blue:rgb(0, 123, 255);
//Replace the "S" in the top left with your initials,
 //link this to your homepage - the same way a logo would link to the homepage
 // on a website

   // The menu on the left hand side is a static menu,
    // meaning this will stay in place as the rest of the content scrolls

    //    For smaller devices this can be replaced with a burger menu,
    //     you can update this to be a slide out menu once you've learnt JavaScript

    //    Update the social media to be relevant to you

   //     As you work through the course, you will upload your projects
    //     and update the project cards - for now,
    //      please use a professional placeholder image

   // Create the form - as you progress through the course,
   ////  you will learn how to add the submission functionality in

//Create the internal pages - these are to include the side menu
// and maintain the website branding
